

<div class="main-container mt-3">
  <div class="row bg-info">
    <div class="col-md-12">
      <%= "#{@user.name}さんがやったことのある曲リスト" %>
    </div>
  </div>
  <div class="row bg-pink mt-2">
    <div class="col-md-12">
      <%= "管弦楽曲" %>
    </div>
  </div>
</div>